$mediasQ:(
    mobile:768px,
    tablet:980px,
    desktop:1080px,
);

@each $vista, $ancho in $mediasQ{
 .#{$vista}{
     @media only screen and (max-width:$ancho){
      .conteiner{
          width:100%
      }
     }
 }
}



/* mixin */
$tablet: 768;
$large:1024;
$desktop: 1280;

@mixin tablet{
    @media only screen and (min width: $tablet * 1px) {
        @content;
    }
}

@mixin large {
    @media only screen and (min width: $large * 1px) {
        @content;
    }
}