/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  background-color: rgb(211, 93, 93);
  padding-top: 3.5rem;
}

.jumbotron{
  background-color:rgb(9, 9, 122);

}

.display-3{
  color: azure;
}


p{
  color: white;
}


.navbar-brand{
    color: white;
}

